div {
    background-color: lightgrey;
    width: 200px;
    padding: 50px;
    margin-left: 500px;
    margin-top: 200px;
}

.title{
    margin-bottom: 10px;
    text-align:center;
    width: 210px;
    color:blue;
    border: solid black 2px;
    text-transform: uppercase;
    font-size: large;
  
    
    }

    input[type="button"]
    {
    background-color:blue;
    color: black;
    border: solid black 2px;
    width:100%;
    
    

    }

    input[type="text"]
    {
    background-color:white;
    border: solid black 2px;
    width:100%;
    flex-wrap: wrap;
    
    
    }